/* Opinionated: Removes the annoying "Wave to [user]" CTA button from join messages */
[class*="welcomeCTA"] {
  display: none;
}

/* Opinionated: Stop sticker spam from being so annoying (doesn't work that well in Compact Mode) */
[class*="clickableSticker"] > div::before {
    content: "[Sticker] " attr(aria-label);
    color: hsl(204deg 16% 65%);
    font-style: italic;
}
[class*="clickableSticker"] > div > div,
[class*="stickersList-2DytTV"] {
    display: none;
}

/* Fix: Make transparent images actually transparent */
[id*="message-accessories-"] > div > a {
  background-color: unset;
}

/* Fix: Keep the settings sidebar a sensible size */
[aria-label="USER_SETTINGS"] [class*="sidebarRegion"] {
  flex-grow: 0;
}

/* Opinionated: Change the name of some items on the settings sidebar to represent what they're actually used for */
[data-item-id="theme-toggler"] {
  font-size: 0;
  height: 32px;
}
[data-item-id="theme-toggler"]::before {
  content: "Themes";
  font-size: 16px;
}
[data-item-id="pc-moduleManager-themes"] {
  font-size: 0;
  height: 32px;
}
[data-item-id="pc-moduleManager-themes"]::before {
  content: "Quick CSS";
  font-size: 16px;
}

/* Fix: Get the Members List to fill all the vertical space, to avoid the background being different below it when there are few members */
[class*=membersWrap] {
  min-height: 100%
}

/* Fix: (Mostly) stops Powercord's 'Download Plugin' button being weird [FIXED UPSTREAM] */
.PluginDownloaderApply:not(.applied) {
    color: var(--text-normal);
}

/* Keep the Settings layer filling the screen at small window sizes */
/* (Could be improved further by using a responsive scale */
@media (max-width: 1350px) {
  [class*="layers"] [aria-label="USER_SETTINGS"] {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Fix: Adjust the colour of hovered buttons [FIXED UPSTREAM] */
[class*="lookFilled"][class*="colorBrand"]:hover {
    background-color: var(--dracula-accent-light);
}

/* Opinionated: De-emphasize some parts of the My Account user profile card */
[class*="fieldList"] [class*="colorHeaderPrimary"],
[class*="userTag"] {
  color: var(--header-secondary)
}

/* Opinionated: De-emphasize promotional title text (see: Bot Discovery page) */
[class*=heroPrimaryText] {
  color: white !important
}
[class*=heroSecondaryText] {
  color: lightgrey !important
}

/* Fix: Make the Discord logo on the Bot Discovery screen match the Dracula accent colour */
[class*=directoryModal] [class*=logo] {
  color: var(--dracula-accent)
}

/* Opinionated: Remove the Boost Progress Bar because it's just overused at this point */
/*[class*="sidebar"] [class*="content"] > [class*="container-"] {*/
[aria-label*="Buy Boosts to help unlock"] {
  display: none;
}
/*[class*="sidebar"] [class*="content"] > div:nth-child(2) {
  display: none;
}
[class*="sidebar"] [class*="content"] > div[style] + div:not([style]) {
  margin-top: 16px;
}*/

/* Fix: Use the Dracula theme background everywhere */
/* '.theme-dark' is to keep specificity the same as Discord's selector */
.theme-dark :not([class*=accountProfileCard]) > [class*="background-"] {
    background-color: var(--background-primary);
}
.theme-dark [class*="background-"][class*="container-"] {
    background-color: var(--background-secondary);
}


/* Fix: Use the Dracula Primary background colour in the Bot Discovery screen */
.theme-dark [class*=directoryModal] {
  background: var(--background-primary)
}

/* Fix: There's a gradient that Discord has after the channel topic. This rule fixes its colour. */
.theme-dark [class*=headerBarInner]:after {
   background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-primary))
}

/* Fix: Dracula theming for the upcoming Server Home Page */
[class*=homeContainer] [class*=channelsContainer] {
  background: var(--background-secondary)
}
.theme-dark [class*=chat] > section[class*=title] {
    background-color: var(--background-primary);
}

/* LEGACY SNIPPETS */
/* May not work with the latest version of Discord */

.membersWrap-2h-GB4 {
  min-height: 100%
}

@media (max-width: 1400px) {
  .layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
    --height2: 100%;
    --width2: 100%;
  }
}

.buttons-3JBrkn :not(:last-child) {
  display:none
}

.attachedBars-tZDmyV {
    margin: 0 50px;
}

/* Remove loading splash screen */
.container-16j22k {
    background-color: unset;
}
.content-1-zrf2 {
	display: none;
}

/* Keep the "X" icon clickable when using the horizontal image layout */
.removeAttachmentButton-2qVPxg {
   z-index: 10;
}

.wrapper-2qzCYF.fullScreen-1tMzXY, .wrapper-2qzCYF.noChat-18KtBD {
    background-color: var(--background-tertiary);
}

.wrapper-28eC3z svg {
    overflow: hidden;
}
